.header {
	flex: 0 0 auto;
	width: 100%;
	background: @color-red;
}

.header__inner {
	height: 70px;

	@media @w768 {
		height: 110px;
	}
}

.header__logo {
	width: 70px;
	margin: 0 5.373% 0 0;
	flex: 0 1 auto;

	@media @w768 {
		width: 130px;
		margin-right: 2.238%;
	}
}

.header__logo-link {
	display: block;

	&& {
		&:before {
			padding-top: 57 / 130 * 100%;
		}
	}
}

.header__logo-img {
	fill: #fff;
}
