@import "header";
@import "footer";

@import "menu/nav";
@import "menu/footer-nav";

/* LAYOUT */
#page-wrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main {
	width: 100%;
	flex: 1 1 auto;
	text-align: left;
}

.l-in-box {
	position: relative;
	max-width: 1380px;
	padding: 0 20px;

	&, &__inner {
		margin-left: auto;
		margin-right: auto;
	}
}

.mw-1340 { max-width:1340px; margin: 0 auto; }
