// IMG help class

// center absolute positioned image inside container
.img--center {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

// responsive image, fits its parent
.img--responsive {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

// strech image to full width of parent
.img--stretch {
	width: 100% !important;
	max-height: none !important;
}
